<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css">
        <link  rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body style="margin: 0;">
        <div id="header">
            <header id="title">Rice Planner - Ibrahim Al-Akash</header>
        </div>

        <div class="topnav">
            <a href="/" style="display: flex; align-items: center; justify-content: center; padding: 13px;"><span class="material-icons" style="font-size: 20px; margin: auto;">home </span> Home</a>
            <a href="/calendar" style="display: flex; align-items: center; justify-content: center; padding: 13px""><span class="material-icons" style="font-size: 20px; margin: auto;">calendar_month </span> Schedule</a>
            <a href="/gpa">GPA</a>
            <a id="add_course" onclick="openCourseForm()" style="display: flex; align-items: center; justify-content: center;cursor: pointer;">
                <span class="material-icons" style="margin-right: 5px; font-size: 18px;">add_circle_outline</span>
                  Add Course
            </a>
        </div>

        

        <div id="add_course_form">
            <div id="x_btn_cont">
              <img src="https://visualpharm.com/assets/860/Close%20Window-595b40b75ba036ed117d9309.svg" id="x_btn_img" onclick="closeCourseForm()">
            </div>
            <form id="formiple" action="/add_course" enctype="multipart/form-data" method="POST">
              <div style="grid-column: span 2;">
                <label for="course_name" style="display: block;">Course Name</label>
                <input name="course_name" style="display: block; margin: auto; margin-top: 10px; margin-bottom: 10px; width: 85%;font-family: 'SF Pro Display'; font-weight: normal; font-size: 16px;" type="text">
              </div>
              <div style="grid-column: span 1">
                <label for="hours">Hours</label>
                <input name="hours" style="display: block; margin: auto; margin-top: 10px; margin-bottom: 10px;font-family: 'SF Pro Display'; font-weight: normal; font-size: 16px; margin-right: 5px;" type="number">
              </div>
              <div style="grid-column: span 1">
                <label for="professor">Professor</label>
                <input name="professor" style="display: block; margin: auto; margin-top: 10px; margin-bottom: 10px;font-family: 'SF Pro Display'; font-weight: normal; font-size: 16px;" type="text">
              </div>
              <div style="grid-column: span 2">
                <label for="syllabus">Syllabus</label>
                <input name="syllabus" style="display: block; margin: 10px;" type="file">
              </div>
              <div style="grid-column: span 2">
                <label for="semester">Semester</label>
                <select id="semester" name="semester" style="display: block; margin: auto; margin-top: 20px; margin-bottom: 20px; width: 85%;font-family: 'SF Pro Display'; font-weight: normal; font-size: 16px;">
                  <option value="F21">Fall '21</option>
                  <option value="S22">Spring '22</option>
                  <option value="F22">Fall '22</option>
                  <option value="S23">Spring '23</option>
                  <option value="F23">Fall '23</option>
                  <option value="S24">Spring '24</option>
                  <option value="F24">Fall '24</option>
                  <option value="S25">Spring '25</option>
                </select>
              </div>
              <input type="submit" value="Submit" style="grid-column: span 2; margin: 10px; font-family: 'SF Pro Display'; font-weight: bold; font-size: 18px; padding: 5px; color: white; background-color: var(--rice-blue);cursor: pointer;"/>
            </form>
          </div>

          <div id="add_reading_form">
            <div id="x_btn_cont">
              <img src="https://visualpharm.com/assets/860/Close%20Window-595b40b75ba036ed117d9309.svg" id="x_btn_img" onclick="closeReadingForm()">
            </div>
            <form id="formipler" action="/add_reading/<%= course[0].class_id %>-<%= course[0].name %>" method="POST">
              <div style="grid-column: span 2;">
                <label for="reading_name" style="display: block;">Reading Name</label>
                <input name="reading_name" style="display: block; margin: auto; margin-top: 20px; margin-bottom: 20px; width: 85%;font-family: 'SF Pro Display'; font-weight: normal; font-size: 16px;" type="text">
              </div>
              <div style="grid-column: span 1">
                <label for="link">Link</label>
                <input name="link" style="display: block; margin: auto; margin-top: 20px; margin-bottom: 20px; width: 85%;font-family: 'SF Pro Display'; font-weight: normal; font-size: 16px;" type="text">
              </div>
              <div style="grid-column: span 1">
                <label for="date">Due Date</label>
                <input name="date" style="display: block; margin: auto; margin-top: 20px; margin-bottom: 20px;font-family: 'SF Pro Display'; font-weight: normal;" type="date">
              </div>
              <div style="grid-column: span 2">
                <label for="description">Description</label>
                <input name="description" style="display: block; margin: auto; margin-top: 20px; margin-bottom: 20px; width: 85%;font-family: 'SF Pro Display'; font-weight: normal; font-size: 16px;" type="text">
              </div>
              <input type="submit" value="Submit" style="grid-column: span 2; margin: 10px; font-family: 'SF Pro Display'; font-weight: bold; font-size: 18px; padding: 5px; color: white; background-color: var(--rice-blue);cursor: pointer;"/>
            </form>
          </div>

          <div id="add_assignment_form">
            <div id="x_btn_cont">
              <img src="https://visualpharm.com/assets/860/Close%20Window-595b40b75ba036ed117d9309.svg" id="x_btn_img" onclick="closeAssignmentForm()">
            </div>
            <form id="formipler" action="/add_assignment/<%= course[0].class_id %>-<%= course[0].name %>" method="POST">
              <div style="grid-column: span 2;">
                <label for="assignment_name" style="display: block;">Assignment Name</label>
                <input name="assignment_name" style="display: block; margin: auto; margin-top: 20px; margin-bottom: 20px; width: 85%;font-family: 'SF Pro Display'; font-weight: normal; font-size: 16px;" type="text">
              </div>
              <div style="grid-column: span 1">
                <label for="link">Relevent Reading Link</label>
                <input name="link" style="display: block; margin: auto; margin-top: 20px; margin-bottom: 20px; width: 85%;font-family: 'SF Pro Display'; font-weight: normal; font-size: 16px;" type="text">
              </div>
              <div style="grid-column: span 1">
                <label for="date">Due Date</label>
                <input name="date" style="display: block; margin: auto; margin-top: 20px; margin-bottom: 20px;font-family: 'SF Pro Display'; font-weight: normal;" type="datetime-local">
              </div>
              <div style="grid-column: span 2">
                <label for="description">Description</label>
                <input name="description" style="display: block; margin: auto; margin-top: 20px; margin-bottom: 20px; width: 85%;font-family: 'SF Pro Display'; font-weight: normal; font-size: 16px;" type="text">
              </div>
              <div style="grid-column: span 2">
                <label for="assignment_type">Assignment Type</label>
                <select id="assignment_type" name="assignment_type" style="display: block; margin: auto; margin-top: 20px; margin-bottom: 20px; width: 85%;font-family: 'SF Pro Display'; font-weight: normal; font-size: 16px;">
                    <option value="problemset">Problem Set</option>
                    <option value="essays">Essay</option>
                    <option value="projects">Project</option>
                    <option value="other">Other</option>
                </select>
              </div>
              <input type="submit" value="Submit" style="grid-column: span 2; margin: 10px; font-family: 'SF Pro Display'; font-weight: bold; font-size: 18px; padding: 5px; color: white; background-color: var(--rice-blue);cursor: pointer;"/>
            </form>
          </div>

          <div id="add_gradescheme_form">
            <div id="x_btn_cont">
              <img src="https://visualpharm.com/assets/860/Close%20Window-595b40b75ba036ed117d9309.svg" id="x_btn_img" onclick="closeGradeschemeForm()">
            </div>
            <form id="formipler" action="/add_gradescheme/<%= course[0].class_id %>-<%= course[0].name %>" method="POST">
              <div style="grid-column: span 2;">
                <label for="grading_item" style="display: block;">Grading Item</label>
                <input name="grading_item" style="display: block; margin: auto; margin-top: 25px; padding: 0; margin-bottom: 25px; width: 85%;font-family: 'SF Pro Display'; font-weight: normal; font-size: 16px;" type="text">
              </div>
              <div style="grid-column: span 1">
                <label for="weightpts">Weight (points)</label>
                <input name="weightpts" style="display: block; margin: auto; margin-top: 25px; margin-bottom: 25px; width: 85%;font-family: 'SF Pro Display'; font-weight: normal; font-size: 14px;" type="number">
              </div>
              <div style="grid-column: span 1">
                <label for="weightperc">Weight (%)</label>
                <input name="weightperc" style="display: block; margin: auto; margin-top: 25px; margin-bottom: 25px;font-family: 'SF Pro Display'; font-weight: normal; font-size: 14px;" type="number">
              </div>
              <input type="submit" value="Submit" style="grid-column: span 2; margin: 10px; font-family: 'SF Pro Display'; font-weight: bold; font-size: 18px; padding: 5px; color: white; background-color: var(--rice-blue);cursor: pointer;"/>
            </form>
          </div>
          
          <div id="add_graded_form">
            <div id="x_btn_cont">
              <img src="https://visualpharm.com/assets/860/Close%20Window-595b40b75ba036ed117d9309.svg" id="x_btn_img" onclick="closeGradedForm()">
            </div>
            <form id="formipler" style="margin: 1px;" action="/add_graded/<%= course[0].class_id %>-<%= course[0].name %>" method="POST">
              <div style="grid-column: span 1">
                <label for="score">Score</label>
                <input name="score" style="display: block; margin: auto; margin-top: 25px; margin-bottom: 25px; margin-right: 5px; font-family: 'SF Pro Display'; font-weight: normal; font-size: 14px;" type="number" step="any">
              </div>
              <div style="grid-column: span 1">
                <label for="max_score">Max Score</label>
                <input name="max_score" style="display: block; margin: auto; margin-top: 25px; margin-bottom: 25px; margin-left: 5px; font-family: 'SF Pro Display'; font-weight: normal; font-size: 14px;" type="number" step="any">
              </div>
              <div style="grid-column: span 2">
                <label for="graded_assignment_name" style="display: block;">Assignment</label>
                <select id="graded_assignment_name" name="graded_assignment_name" style="display: block; margin: auto; margin-top: 20px; margin-bottom: 20px; width: 85%;font-family: 'SF Pro Display'; font-weight: normal; font-size: 16px;">
                  <% for (x of completed_assignments) {%>
                    <% if( x.grade > 0) {%>
                    <% }else{%>  
                    <option style="font-size: 14px; word-wrap: break-word;" value="<%= x.name %>-<%= x.assignment_id %> "><%= x.name %> </option>
                    <% } %> 
                  <% } %>
              </select>
              </div>
              <div style="grid-column: span 2">
                <label for="grading_type" style="display: block;">Assignment Type</label>
                <select id="grading_type" name="grading_type" style="display: block; margin: auto; margin-top: 20px; margin-bottom: 20px; width: 85%;font-family: 'SF Pro Display'; font-weight: normal; font-size: 16px;">
                  <% for (x of syllabus) {%>
                    <option style="font-size: 14px; word-wrap: break-word;" value="<%= x?.grading_item %>-<%= x?.grading_id %>"><%= x?.grading_item %> </option>
                  <% } %>
              </select>
              </div>
              <input type="submit" value="Submit" style="grid-column: span 2; margin: 10px; font-family: 'SF Pro Display'; font-weight: bold; font-size: 18px; padding: 5px; color: white; background-color: var(--rice-blue);cursor: pointer;"/>
            </form>
          </div>

          <div id="edit_graded_form">
            <div id="x_btn_cont">
              <img src="https://visualpharm.com/assets/860/Close%20Window-595b40b75ba036ed117d9309.svg" id="x_btn_img" onclick="closeEditGradedForm()">
            </div>
            <form id="formipler" style="margin: 1px;" action="/edit_graded/<%= course[0].class_id %>-<%= course[0].name %>" method="POST">
              <div style="grid-column: span 1">
                <label for="score">Score</label>
                <input name="score" style="display: block; margin: auto; margin-top: 25px; margin-bottom: 25px; margin-right: 5px; font-family: 'SF Pro Display'; font-weight: normal; font-size: 14px;" type="number" step="any">
              </div>
              <div style="grid-column: span 1">
                <label for="max_score">Max Score</label>
                <input name="max_score" style="display: block; margin: auto; margin-top: 25px; margin-bottom: 25px; margin-left: 5px; font-family: 'SF Pro Display'; font-weight: normal; font-size: 14px;" type="number">
              </div>
              <div style="grid-column: span 2">
                <label for="graded_assignment_name" style="display: block;">Assignment</label>
                <select id="graded_assignment_name" name="graded_assignment_name" style="display: block; margin: auto; margin-top: 20px; margin-bottom: 20px; width: 85%;font-family: 'SF Pro Display'; font-weight: normal; font-size: 16px;">
                  <% for (x of assignments) {%>
                    <% if( x.grade > 0) {%>
                      <option style="font-size: 14px; word-wrap: break-word;" value="<%= x.name %>-<%= x.assignment_id %> "><%= x.name %> </option>
                    <% }else {%>
                    <% } %> 
                  <% } %>
              </select>
              </div>
              <div style="grid-column: span 2">
                <label for="grading_type" style="display: block;">Assignment Type</label>
                <select id="grading_type" name="grading_type" style="display: block; margin: auto; margin-top: 20px; margin-bottom: 20px; width: 85%;font-family: 'SF Pro Display'; font-weight: normal; font-size: 16px;">
                  <% for (x of syllabus) {%>
                    <option style="font-size: 14px; word-wrap: break-word;" value="<%= x?.grading_item %>-<%= x?.grading_id %>"><%= x?.grading_item %> </option>
                  <% } %>
              </select>
              </div>
              <input type="submit" value="Submit" style="grid-column: span 2; margin: 10px; font-family: 'SF Pro Display'; font-weight: bold; font-size: 18px; padding: 5px; color: white; background-color: var(--rice-blue);cursor: pointer;"/>
            </form>
          </div>

          <div id="<%= active_course %>" class="tabcontent">
            <div class="inner_tab">
              <div class="dropdown_cont">
                <button class="dropdown_btn">Courses
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown_classes" style="margin-top: 47px;background-color: var(--dark-gray);">
                  <% for (cours of classes) {%>
                    <% if(cours.name != active_course) {%> 
                        <a href="/course?name=<%= cours.name %>"><%= cours.name %></a>
                    <% } %> 
                <% } %>
                  </div>
              </div>
              <button class="inner_tablinks" onclick="openInnerCity(event, '<%= active_course %>info')"><%= active_course %></button>
              <button class="inner_tablinks" onclick="openInnerCity(event, '<%= active_course %>syllabus')">Syllabus</button>
              <button class="inner_tablinks" onclick="openInnerCity(event, '<%= active_course %>readings')">Readings</button>
              <button class="inner_tablinks" onclick="openInnerCity(event, '<%= active_course %>problems')">Problem Sets</button>
              <button class="inner_tablinks" onclick="openInnerCity(event, '<%= active_course %>projects')">Projects</button>
              <button class="inner_tablinks" onclick="openInnerCity(event, '<%= active_course %>essays')">Essays</button>
              <button class="inner_tablinks" onclick="openInnerCity(event, '<%= active_course %>other')">Other</button>
              <button class="inner_tablinks" onclick="openInnerCity(event, '<%= active_course %>grade')">Grade</button>
              <button id="add_course" onclick="archiveCourse('<%= course[0].class_id %>-<%= course[0].name %>')" style="display: flex; align-items: center; justify-content: center;">
                <span class="material-icons" style="margin:auto; margin-right: 5px; font-size: 18px; align-self: center;">archive</span>
                Archive Course
              </button>
              <button id="add_course" onclick="deleteCourse('<%= course[0].class_id %>-<%= course[0].name %>')" style="display: flex; align-items: center; justify-content: center;">
                <span class="material-icons" style="margin:auto; margin-right: 5px; font-size: 18px; align-self: center;">remove_circle_outline</span>
                Remove Course
              </button>
            </div>

            <div id="home_rice_course">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Rice_Owls_logo.svg/1200px-Rice_Owls_logo.svg.png" id="rice_logo">
            </div>

            <div id='<%= active_course %>info' class="inner_content">
              <h3>Professor</h3>
              <p style="text-align: center;"><%= course[0].professor %></p><br>
              <h3>Semester</h3>
              <p style="text-align: center;">
                <% if(course[0].semester[0] == 'F') {%> 
                  Fall '<%= course[0].semester[1] %><%= course[0].semester[2] %>
                <% }else{ %>
                  Spring '<%= course[0].semester[1] %><%= course[0].semester[2] %>
                <% } %> 
              </p>
            </div>

            <div id="<%= active_course %>syllabus" class="inner_content">
                <div style="display: flex; align-items: center; justify-content: center;">
                    <embed src="uploads/<%= course[0].syllabus %>" width="75%" height="700px" style="margin: auto;"/>
                </div>
            </div>
            <div id='<%= active_course %>readings' class="inner_content">
              <div id="add_reading" onclick="openReadingForm()">
                Add Reading
              </div>
            <% for (reading of readings) {%>
            <div class="reading_block">
                <% if(reading.status != 'complete') {%>
                    <span class="material-icons" style="font-size: 48px; color: var(--warm-yellow);cursor: pointer;" onclick="markReadingComplete('<%= reading.readings_id %>')">new_releases</span>
                <% }else{ %>
                    <span class="material-icons" style="font-size: 48px; color: var(--grass-green);cursor: pointer;" onclick="markReadingIncomplete('<%= reading.readings_id %>')">check_circle_outline</span>
                <% } %> 
                <div style="display: block; margin: 10px;">
                    <h2 style="color: white;"><%= reading.assigned_reading %> </h2>
                    <h3 style="color: var(--light-gray); font-size: 14px;"><%= reading.due_date.toDateString() %></h3>
                    <% now = new Date(); time = new Date(reading.due_date) %> 
                    <% var delta = (time - now) / 1000; %>
                    <% var days_until = Math.floor(delta / 86400); delta -= days_until * 86400; %>
                    <% var hours_until = Math.floor(delta / 3600) % 24; delta -= hours_until * 3600;%>
                    <% if (days_until >= 0 && reading.status != "complete"){%> 
                    <h3 style="color: var(--light-gray); font-size: 14px;"><%= days_until %> Days and <%= hours_until %> Hours until due</h3>
                    <% } %> 
                    <p style="text-align: center; color: var(--bright-blue);"><%= reading.description %> </p>
                </div>
                <a style="text-decoration: none; color: var(--bright-green); font-size: 26px; display: flex; align-items: center; justify-content: center;" href="<%= reading.link %> " target="_blank">
                    <span class="material-icons">book</span>Read
                </a>
            </div>
            <% } %>
            </div>

            <div id='<%= active_course %>problems' class="inner_content">
              <div id="add_reading" onclick="openAssignmentForm()">
                Add Assignment
              </div>
                <% for(assignment of assignments){%>
                    <% if(assignment.assignment_type == 'problemset'){ %>
                        <div class="reading_block">
                            <% if(assignment.status != 'complete') {%>
                                <span class="material-icons" style="font-size: 48px; color: var(--warm-yellow);cursor: pointer;" onclick="markAssignmentComplete('<%= assignment.assignment_id %>')">new_releases</span>
                            <% }else{ %>
                                <span class="material-icons" style="font-size: 48px; color: var(--grass-green);cursor: pointer;" onclick="markAssignmentIncomplete('<%= assignment.assignment_id %>')">check_circle_outline</span>
                                <% if(assignment.grade) {%>
                                  <div>
                                    Grade: <%= assignment.grade %>/<%= assignment.maximum %> 
                                  </div>
                                <% }else{ %>
                                  <div>
                                    Not Yet Graded
                                  </div>
                                <% } %>   
                            <% } %> 
                            <div style="display: block; margin: 10px;">
                                <h2 style="color: white;"><%= assignment.name %> </h2>
                                <% time = new Date(assignment.due_date) %>
                                <% now = new Date() %> 
                                <% var delta = (time - now) / 1000; %>
                                <% var days_until = Math.floor(delta / 86400); delta -= days_until * 86400; %>
                                <% var hours_until = Math.floor(delta / 3600) % 24; delta -= hours_until * 3600;%>
                                <% time = time.toLocaleString() %>
                                <h3 style="color: var(--light-gray); font-size: 14px;"><%= time %></h3>
                                <% if (days_until >= 0 && assignment.status != "complete"){%> 
                                <h3 style="color: var(--light-gray); font-size: 14px;"><%= days_until %> Days and <%= hours_until %> Hours until due</h3>
                                <% } %> 
                                <p style="text-align: center; color: var(--bright-blue);"><%= assignment.description %> </p>
                            </div>
                            <a style="text-decoration: none; color: var(--bright-green); font-size: 26px; display: flex; align-items: center; justify-content: center;" href="<%= assignment.link %> " target="_blank">
                                <span class="material-icons">book</span>Relevant Readings
                            </a>
                        </div>
                    <% } %>  
                <% } %>
            </div>
            
            <div id='<%= active_course %>other' class="inner_content">
                <% for(assignment of assignments){%>
                    <% if(assignment.assignment_type == 'other'){ %>
                        <div class="reading_block">
                            <% if(assignment.status != 'complete') {%>
                                <span class="material-icons" style="font-size: 48px; color: var(--warm-yellow);cursor: pointer;" onclick="markAssignmentComplete('<%= assignment.assignment_id %>')">new_releases</span>
                            <% }else{ %>
                                <span class="material-icons" style="font-size: 48px; color: var(--grass-green);cursor: pointer;" onclick="markAssignmentIncomplete('<%= assignment.assignment_id %>')">check_circle_outline</span>
                                <% if(assignment.grade) {%>
                                  <div>
                                    Grade: <%= assignment.grade %>/<%= assignment.maximum %> 
                                  </div>
                                <% }else{ %>
                                  <div>
                                    Not Yet Graded
                                  </div>
                                <% } %>   
                            <% } %> 
                            <div style="display: block; margin: 10px;">
                                <h2 style="color: white;"><%= assignment.name %> </h2>
                                <% time = new Date(assignment.due_date) %>
                                <% time = time.toLocaleString() %>
                                <h3 style="color: var(--light-gray); font-size: 14px;"><%= time %></h3>
                                <p style="text-align: center; color: var(--bright-blue);"><%= assignment.description %> </p>
                            </div>
                            <a style="text-decoration: none; color: var(--bright-green); font-size: 26px; display: flex; align-items: center; justify-content: center;" href="<%= assignment.link %> " target="_blank">
                                <span class="material-icons">book</span>Relevant Readings
                            </a>
                        </div>
                    <% } %>  
                <% } %>
                <div id="add_reading" onclick="openAssignmentForm()">
                    Add Assignment
                </div>
            </div>

            <div id='<%= active_course %>projects' class="inner_content">
                <% for(assignment of assignments){%>
                    <% if(assignment.assignment_type == 'projects'){ %>
                        <div class="reading_block">
                            <% if(assignment.status != 'complete') {%>
                                <span class="material-icons" style="font-size: 48px; color: var(--warm-yellow);cursor: pointer;" onclick="markAssignmentComplete('<%= assignment.assignment_id %>')">new_releases</span>
                            <% }else{ %>
                                <span class="material-icons" style="font-size: 48px; color: var(--grass-green);cursor: pointer;" onclick="markAssignmentIncomplete('<%= assignment.assignment_id %>')">check_circle_outline</span>
                                <% if(assignment.grade) {%>
                                  <div>
                                    Grade: <%= assignment.grade %>/<%= assignment.maximum %> 
                                  </div>
                                <% }else{ %>
                                  <div>
                                    Not Yet Graded
                                  </div>
                                <% } %>   
                            <% } %> 
                            <div style="display: block; margin: 10px;">
                                <h2 style="color: white;"><%= assignment.name %> </h2>
                                <% time = new Date(assignment.due_date) %>
                                <% time = time.toLocaleString() %>
                                <h3 style="color: var(--light-gray); font-size: 14px;"><%= time %></h3>
                                <p style="text-align: center; color: var(--bright-blue);"><%= assignment.description %> </p>
                            </div>
                            <a style="text-decoration: none; color: var(--bright-green); font-size: 26px; display: flex; align-items: center; justify-content: center;" href="<%= assignment.link %> " target="_blank">
                                <span class="material-icons">book</span>Relevant Readings
                            </a>
                        </div>
                    <% } %>  
                <% } %>
                <div id="add_reading" onclick="openAssignmentForm()">
                    Add Assignment
                </div>
            </div>

            <div id='<%= active_course %>essays' class="inner_content">
                <% for(assignment of assignments){%>
                    <% if(assignment.assignment_type == 'essays'){ %>
                        <div class="reading_block">
                            <% if(assignment.status != 'complete') {%>
                                <span class="material-icons" style="font-size: 48px; color: var(--warm-yellow);cursor: pointer;" onclick="markAssignmentComplete('<%= assignment.assignment_id %>')">new_releases</span>
                            <% }else{ %>
                                <span class="material-icons" style="font-size: 48px; color: var(--grass-green);cursor: pointer;" onclick="markAssignmentIncomplete('<%= assignment.assignment_id %>')">check_circle_outline</span>
                                <% if(assignment.grade) {%>
                                  <div>
                                    Grade: <%= assignment.grade %>/<%= assignment.maximum %> 
                                  </div>
                                <% }else{ %>
                                  <div>
                                    Not Yet Graded
                                  </div>
                                <% } %>   
                            <% } %> 
                            <div style="display: block; margin: 10px;">
                                <h2 style="color: white;"><%= assignment.name %> </h2>
                                <% time = new Date(assignment.due_date) %>
                                <% time = time.toLocaleString() %>
                                <h3 style="color: var(--light-gray); font-size: 14px;"><%= time %></h3>
                                <p style="text-align: center; color: var(--bright-blue);"><%= assignment.description %> </p>
                            </div>
                            <a style="text-decoration: none; color: var(--bright-green); font-size: 26px; display: flex; align-items: center; justify-content: center;" href="<%= assignment.link %> " target="_blank">
                                <span class="material-icons">book</span>Relevant Readings
                            </a>
                        </div>
                    <% } %>  
                <% } %>
                <div id="add_reading" onclick="openAssignmentForm()">
                    Add Assignment
                </div>
            </div>

            <div id='<%= active_course %>grade' class="inner_content">
              <div id="cum" style="align-items: center; justify-content: center; margin: 0; padding: 0;">
                <div id="gpa_table_cont">
                    <table class="gpa_table" id="cum_table">
                        <tr>
                            <th colspan="4">Grades<span class="material-icons" style="margin:auto; margin-left: 15px; font-size: 18px; align-self: center; cursor: pointer;" onclick="window.print();return false;">print</span></th>
                        </tr>
                        <tr style="font-style: italic; font-weight: 900;border-top: 1px solid var(--rice-blue); border-bottom: 1px solid var(--rice-blue); padding: 10px 0;">
                            <td>
                                Assignment
                            </td>
                            <td>
                                Type
                            </td>
                            <td>
                                Grade (pts)
                            </td>
                            <td>
                                Grade (%)
                            </td>
                        </tr>
                        <% for(ass of graded) {%>
                            <% if (ass.class_id == course[0].class_id) {%> 
                            <tr>
                                <td>
                                    <%= ass?.assignment_name %> 
                                </td>
                                <td>
                                    <%= ass?.type %> 
                                </td>
                                <td>
                                    <%= ass?.grade %>/<%= ass?.maximum %> 
                                </td>
                                <td>
                                    <%= ((ass?.grade/ass?.maximum) * 100).toFixed(0) %>% 
                                </td>
                            </tr>
                          <% } %> 
                        <% } %> 
                        <tr style="font-style: italic; font-weight: 900; border-top: 1px solid var(--rice-blue); border-bottom: 1px solid var(--rice-blue); padding: 10px 0;">
                            <td colspan="2">
                                Syllabus Item
                            </td>
                            <td>
                              Grade
                            </td>
                            <td>
                              Weight
                            </td>
                        </tr>
                        <% for (i in syllabus) {%>
                          <tr>
                            <td colspan="2">
                                <%= syllabus[i].grading_item %> 
                            </td>
                            <td>
                              <% if (syllabus[i].weight_percentage > 0) {%>
                                <% if(breakdown!=undefined) {%> 
                                  <%= breakdown[i].toFixed(2) %>
                                  <% }else{ %>
                                    0
                                  <% } %>
                              <% }else if (syllabus[i].weight_points > 0) {%>
                                <%= mypoints %> 
                              <% } %> 
                              
                            </td>
                            <td>
                              <% if (syllabus[i].weight_percentage > 0) {%>
                                <%= syllabus[i].weight_percentage.toFixed(2) %>%
                              <% }else if (syllabus[i].weight_points > 0) {%>
                                <%= syllabus[i].weight_points %> 
                              <% } %>  
                            </td>
                        </tr>
                        <% } %>
                        <tr style="border-top: 1px solid var(--rice-blue); border-bottom: 1px solid var(--rice-blue); padding: 10px 0;">
                          <td colspan="2">
                              Course Grade
                          </td>
                          <td>
                            <% if(course_grade != undefined) {%> 
                            <%= course_grade.toFixed(2) %>%
                            <% }else{ %>
                              0
                            <% } %>  
                          </td>
                          <td>
                            <%= course_letter %> 
                          </td>
                      </tr>
                    </table>
                </div>
              </div>

                <div style="display: flex; justify-content: space-evenly; align-items: center;">
                    <div id="add_reading" onclick="openGradeschemeForm()">
                        Add Syllabus Item
                    </div>
                    <div id="add_reading" onclick="openEditGradedForm()">
                        Edit Graded Assignment
                    </div>
                    <div id="add_reading" onclick="openGradedForm()">
                        Add Graded Assignment
                    </div>
                </div>
            </div>
            
          </div>


        <script src="course.js"></script>
    </body>
</html>