<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css">
        <link  rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <!-- <script
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
        </script> -->
        <script src="https://cdn.plot.ly/plotly-2.8.3.min.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js'></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body style="margin: 0;">
        <div id="header">
            <header id="title">Rice Planner - Ibrahim Al-Akash</header>
        </div>

        <div class="topnav">
            <a href="/" style="display: flex; align-items: center; justify-content: center; padding: 13px"><span class="material-icons" style="font-size: 20px; margin: auto;">home</span></a>
            <% for (course of classes) {%>
                <a href="/course?name=<%= course.name %>" onclick="hideAll()"><%= course.name %></a>
            <% } %>
            <a class="active" href="/gpa">GPA</a>
            <a id="add_course" onclick="openCourseForm()" style="display: flex; align-items: center; justify-content: center;cursor: pointer;">
                <span class="material-icons" style="margin-right: 5px; font-size: 18px;">add_circle_outline</span>
                  Add Course
            </a>
        </div>

        <div id="add_course_form">
            <div id="x_btn_cont">
              <img src="https://visualpharm.com/assets/860/Close%20Window-595b40b75ba036ed117d9309.svg" id="x_btn_img" onclick="closeCourseForm()">
            </div>
            <form id="formiple" action="/add_course" enctype="multipart/form-data" method="POST">
              <div style="grid-column: span 2;">
                <label for="course_name" style="display: block;">Course Name</label>
                <input name="course_name" style="display: block; margin: auto; margin-top: 10px; margin-bottom: 10px; width: 85%;font-family: 'SF Pro Display'; font-weight: normal; font-size: 16px;" type="text">
              </div>
              <div style="grid-column: span 1">
                <label for="hours">Hours</label>
                <input name="hours" style="display: block; margin: auto; margin-top: 10px; margin-bottom: 10px;font-family: 'SF Pro Display'; font-weight: normal; font-size: 16px; margin-right: 5px;" type="number">
              </div>
              <div style="grid-column: span 1">
                <label for="professor">Professor</label>
                <input name="professor" style="display: block; margin: auto; margin-top: 10px; margin-bottom: 10px;font-family: 'SF Pro Display'; font-weight: normal; font-size: 16px;" type="text">
              </div>
              <div style="grid-column: span 2">
                <label for="syllabus">Syllabus</label>
                <input name="syllabus" style="display: block; margin: 10px;" type="file">
              </div>
              <div style="grid-column: span 2">
                <label for="semester">Semester</label>
                <select id="semester" name="semester" style="display: block; margin: auto; margin-top: 20px; margin-bottom: 20px; width: 85%;font-family: 'SF Pro Display'; font-weight: normal; font-size: 16px;">
                  <option value="F21">Fall '21</option>
                  <option value="S22">Spring '22</option>
                  <option value="F22">Fall '22</option>
                  <option value="S23">Spring '23</option>
                  <option value="F23">Fall '23</option>
                  <option value="S24">Spring '24</option>
                  <option value="F24">Fall '24</option>
                  <option value="S25">Spring '25</option>
                </select>
              </div>
              <input type="submit" value="Submit" style="grid-column: span 2; margin: 10px; font-family: 'SF Pro Display'; font-weight: bold; font-size: 18px; padding: 5px; color: white; background-color: var(--rice-blue);cursor: pointer;"/>
            </form>
          </div>

          <div id="edit_gpa_form">
            <div id="x_btn_cont">
              <img src="https://visualpharm.com/assets/860/Close%20Window-595b40b75ba036ed117d9309.svg" id="x_btn_img" onclick="closeUpGPAForm()">
            </div>
            <form id="formiplerx" action="/update_course_gpa" method="POST">
              <div style="grid-column: span 2;">
                <label for="course_name" style="display: block;">Course Name</label>
                <select id="course_name" name="course_name" style="display: block; margin: auto; margin-top: 25px; padding: 0; margin-bottom: 25px; width: 85%;font-family: 'SF Pro Display'; font-weight: normal; font-size: 16px;" type="text">
                    <% for (course of gps) {%>
                        <option value="<%= course.class_name %>"><%= course.class_name %></option>
                    <% } %> 
                </select>
              </div>
              <div style="grid-column: span 2">
                <label for="grade">Letter Grade</label>
                <select id="grade" name="grade" style="display: block; margin: auto; margin-top: 20px; margin-bottom: 20px; width: 85%;font-family: 'SF Pro Display'; font-weight: normal; font-size: 18px;">
                    <option value="A+">A+</option>
                    <option value="A">A</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B">B</option>
                    <option value="B-">B-</option>
                    <option value="C+">C+</option>
                    <option value="C">C</option>
                    <option value="C-">C-</option>
                    <option value="NULL">Clear</option>
                </select>
              </div>
              <input type="submit" value="Submit" style="grid-column: span 2; margin: 10px; font-family: 'SF Pro Display'; font-weight: bold; font-size: 18px; padding: 5px; color: white; background-color: var(--rice-blue);cursor: pointer;"/>
            </form>
          </div>

          <div id="add_gpa_form">
            <div id="x_btn_cont">
              <img src="https://visualpharm.com/assets/860/Close%20Window-595b40b75ba036ed117d9309.svg" id="x_btn_img" onclick="closeGPAForm()">
            </div>
            <form id="formipler" action="/add_course_gpa" method="POST">
              <div style="grid-column: span 2;">
                <label for="course_name" style="display: block;">Course Name</label>
                <input name="course_name" style="display: block; margin: auto; margin-top: 25px; padding: 0; margin-bottom: 25px; width: 85%;font-family: 'SF Pro Display'; font-weight: normal; font-size: 16px;" type="text">
              </div>
              <div style="grid-column: span 1">
                <label for="hours">Hours</label>
                <input name="hours" style="display: block; margin: auto; margin-top: 25px; margin-bottom: 25px; width: 85%;font-family: 'SF Pro Display'; font-weight: normal; font-size: 14px;" type="number">
              </div>
              <div style="grid-column: span 1">
                <label for="grade">Letter Grade</label>
                <select id="grade" name="grade" style="display: block; margin: auto; margin-top: 20px; margin-bottom: 20px; width: 85%;font-family: 'SF Pro Display'; font-weight: normal; font-size: 18px;">
                    <option value="A+">A+</option>
                    <option value="A">A</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B">B</option>
                    <option value="B-">B-</option>
                    <option value="C+">C+</option>
                    <option value="C">C</option>
                    <option value="C-">C-</option>
                </select>
              </div>
              <div style="grid-column: span 2">
                <label for="gpa_semester">Semester</label>
                <select id="gpa_semester" name="gpa_semester" style="display: block; margin: auto; margin-top: 20px; margin-bottom: 20px; width: 85%;font-family: 'SF Pro Display'; font-weight: normal; font-size: 16px;">
                  <option value="F21">Fall '21</option>
                  <option value="S22">Spring '22</option>
                  <option value="F22">Fall '22</option>
                  <option value="S23">Spring '23</option>
                  <option value="F23">Fall '23</option>
                  <option value="S24">Spring '24</option>
                  <option value="F24">Fall '24</option>
                  <option value="S25">Spring '25</option>
                </select>
              </div>
              <input type="submit" value="Submit" style="grid-column: span 2; margin: 10px; font-family: 'SF Pro Display'; font-weight: bold; font-size: 18px; padding: 5px; color: white; background-color: var(--rice-blue);cursor: pointer;"/>
            </form>
          </div>

          <div class="tabcontent">
            <div class="inner_tab">
                <button class="inner_tablinks" onclick="openInnerCity(event, `cum`)" style="display: flex; align-items: center; justify-content: center;">
                  <span class="material-icons" style="margin:auto; margin-right: 5px; font-size: 18px; align-self: center;">assessment</span>
                  Cumulative GPA
                </button>
                <button class="inner_tablinks" onclick="openInnerCity(event, `sem`)" style="display: flex; align-items: center; justify-content: center;">
                  <span class="material-icons" style="margin:auto; margin-right: 5px; font-size: 18px; align-self: center;">timeline</span>
                  Semester GPA
                </button>
                <button class="inner_tablinks" onclick="openInnerCity(event, `med`)" style="display: flex; align-items: center; justify-content: center;">
                  <span class="material-icons" style="margin:auto; margin-right: 5px; font-size: 18px; align-self: center;">school</span>
                  Medical GPA
                </button>
              </div>
          </div>
          
        
    
        <div id="med" class="inner_content" style="align-items: center; justify-content: center; margin: 0; padding: 0;">
            <div id="gpa_table_cont" style="margin-right: 25px;">
                <table class="med_table">
                    <tr>
                        <th>AMCAS GPA</th>
                    </tr>
                    <tr style="font-style: italic; font-weight: 900;border-top: 1px solid var(--rice-blue); border-bottom: 1px solid var(--rice-blue); padding: 10px 0;">
                        <td>
                            Overall
                        </td>
                        <td>
                            BCMP
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <%= amcas_grade.toFixed(4) %> 
                        </td>
                        <td>
                            <%= amcas_grade.toFixed(4) %> 
                        </td>
                    </tr>
                </table>
            </div>
            <div id="gpa_table_cont" style="margin-left: 25px;">
                <table class="med_table">
                    <tr>
                        <th colspan="4">TMDSAS GPA</th>
                    </tr>
                    <tr style="font-style: italic; font-weight: 900;border-top: 1px solid var(--rice-blue); border-bottom: 1px solid var(--rice-blue); padding: 10px 0;">
                        <td>
                            Overall
                        </td>
                        <td>
                            BCMP
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <%= tmdsas_grade.toFixed(4) %> 
                        </td>
                        <td>
                            <%= tmdsas_grade.toFixed(4) %> 
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="cum" class="inner_content" style="align-items: center; justify-content: center; margin: 0; padding: 0;">
            <div id="gpa_table_cont">
                <table class="gpa_table" id="cum_table">
                    <tr>
                        <th colspan="4">Cumulative GPA <span class="material-icons" style="margin:auto; margin-left: 5px; font-size: 18px; align-self: center; cursor: pointer;" onclick="window.print();return false;">print</span></th>
                    </tr>
                    <tr style="font-style: italic; font-weight: 900;border-top: 1px solid var(--rice-blue); border-bottom: 1px solid var(--rice-blue); padding: 10px 0;">
                        <td>
                            Course
                        </td>
                        <td>
                            Hours
                        </td>
                        <td>
                            Letter Grade
                        </td>
                        <td>
                            Quality Points
                        </td>
                    </tr>
                    <% for(course of cum) {%>
                        <tr>
                            <td>
                                <%= course.class_name %> 
                            </td>
                            <td>
                                <%= course.hours %> 
                            </td>
                            <td>
                                <% if(course.letter != null) {%> 
                                    <%= course.letter %>
                                    <% }else {%>
                                        ---
                                    <% } %>  
                            </td>
                            <td>
                                <% if(course.quality_points > 0) {%> 
                                    <%= course.quality_points.toFixed(4) %>
                                    <% }else {%>
                                        ---
                                    <% } %>   
                            </td>
                        </tr>
                    <% } %>
                    <tr style="border-top: 1px solid var(--rice-blue); border-bottom: 1px solid var(--rice-blue); padding: 10px 0;">
                        <td>
                            <%= cum.length %> Courses 
                        </td>
                        <td>
                            <%= current_hours %> Hours
                        </td>
                        <td>
                            (<%= average %>)  Average
                        </td>
                        <td>
                            <%= cum_quality_points.toFixed(4) %>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="gpa_summary_table_cont">
                <table class="gpa_summary_table">
                    <tr>
                        <th colspan="2" style="color: var(--warm-yellow); font-size: 26px; padding-bottom: 1rem;">Summary</th>
                    </tr>
                    <tr>
                        <th colspan="2" style="color: var(--warm-yellow); border-bottom: 1px solid var(--warm-yellow);">Cumulative</th>
                    </tr>
                    <tr style="font-style: italic; font-weight: 900; color: var(--bright-blue);">
                        <td>
                            GPA
                        </td>
                        <td>
                            Hours
                        </td>
                    </tr>
                    <tr style="color: var(--bright-blue);">
                        <td>
                            <%= gpa.toFixed(4) %> 
                        </td>
                        <td>
                            <%= tot_hours %> 
                        </td>
                    </tr>
                    <tr style="color: var(--warm-yellow);">
                        <th style="border-bottom: 1px solid var(--warm-yellow); padding-top: 15px;" colspan="2">
                            Current Semester
                        </th>
                    </tr>
                    <tr style="font-style: italic; font-weight: 900; color: var(--bright-blue);">
                        <td>
                            Hours
                        </td>
                        <td>
                            Courses
                        </td>
                    </tr>
                    <tr style="color: var(--bright-blue);">
                        <td>
                            <%= current_hours - tot_hours %> 
                        </td>
                        <td>
                            <%= classes.length %>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        </div>

        <div id="semester_chart_data" style="display: none;">
            <% for (x of sem_gpas) {%>
                <%= x.semester %>,<%= x.gpa %>-
            <% } %>  
        </div>
        <div id="sem" class="inner_content">
            <div style=" display: flex; align-items: center; justify-content: center;">
                <div id="semester_chart" style="width:100%;max-width:700px;"></div>
            </div>
            <div id="semester_trend">
                <% if (trend > 0) {%>
                    <div style="display: flex; align-items: center; justify-content: center;">
                        <span class="material-icons" style="margin:auto; margin-right: 5px; font-size: 38px; align-self: center; color: var(--grass-green);">trending_up</span>
                        <span style="color: var(--grass-green);">Upward Trend</span>
                    </div>
                <% }else if(trend == 0){ %>
                    <div style="display: flex; align-items: center; justify-content: center;">
                        <span class="material-icons" style="margin:auto; margin-right: 5px; font-size: 38px; align-self: center; color: var(--warm-yellow);">stacked_line_chart</span>
                        <span style="color: var(--warm-yellow);">Stagnant Trend</span>
                    </div>  
                <% }else{ %>
                    <div style="display: flex; align-items: center; justify-content: center;">
                        <span class="material-icons" style="margin:auto; margin-right: 5px; font-size: 38px; align-self: center; color: #e30b0b;">trending_down</span>
                        <span style="color: #e30b0b;">Downward Trend</span>
                    </div>
                <% } %>   
            </div>
        </div>

        <div style="display: flex; align-items: center; justify-content: space-between;">
            <div id="add_reading" onclick="openGPAForm()">
                Add Class GPA
            </div>
            <div id="add_reading_kodo" onclick="openUpGPAForm()">
                Edit Class GPA
            </div>
        </div>


        <script src="gpacalc.js"></script>
        <script src="charter.js"></script>
    </body>
</html>