<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css">
        <link  rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body style="margin: 0;">
      <div id="header">
        <header style="text-align: center; font-family: 'SF Pro Display'; font-weight: bold; font-size: 24px;">Rice Planner - Ibrahim Al-Akash</header>
      </div>
      
        <div class="tab">
        <button class="tablinks" onclick="window.location = '/'">
          <i class="fa fa-fw fa-home"></i>
        </button>
        <% for (course of classes) { %>
        <button class="tablinks" onclick="openCity(event, '<%= course.name %>')"><%= course.name %></button>
        <% } %>
        <button id="add_course" onclick="openCourseForm()" style="display: flex; align-items: center; justify-content: center;">
          <span class="material-icons" style="margin-right: 5px; font-size: 18px;">add_circle_outline</span>
            Add Course
        </button>
        </div>


        <% for (course of classes){ %>
          <div id="<%= course.name %>" class="tabcontent">
            <div class="inner_tab">
              <button class="inner_tablinks" onclick="openInnerCity(event, '<%= course.class_id %>info')">Info</button>
              <button class="inner_tablinks" onclick="openInnerCity(event, '<%= course.class_id %>syllabus')">Syllabus</button>
              <button class="inner_tablinks" onclick="openInnerCity(event, '<%= course.class_id %>readings')">Readings</button>
              <button class="inner_tablinks" onclick="openInnerCity(event, 'Class1')">Problem Sets</button>
              <button class="inner_tablinks" onclick="openInnerCity(event, 'Class1')">Projects</button>
              <button class="inner_tablinks" onclick="openInnerCity(event, 'Class1')">Essays</button>
              <button class="inner_tablinks" onclick="openInnerCity(event, 'Class1')">Other</button>
              <button id="add_course" onclick="deleteCourse('<%= course.class_id %>')" style="display: flex; align-items: center; justify-content: center;">
                <span class="material-icons" style="margin:auto; margin-right: 5px; font-size: 18px; align-self: center;">remove_circle_outline</span>
                Remove Course
              </button>
            </div>
            <div id='<%= course.class_id %>info' class="inner_content">
              <h3>Professor</h3>
              <p><%= course.professor %></p>
            </div>
            <div id="<%= course.class_id %>syllabus" class="inner_content">
              <embed src="assets/MATH212_syllabus.pdf" width="100%" height="500px"/>
            </div>
            <div id='<%= course.class_id %>readings' class="inner_content">
            <h3>Chapter 14.4</h3>
            <p>Vectors, Dot Products, Cross Products</p>
            </div>
            <div id="add_reading">
              Add Reading
            </div>
          </div>
        <% } %> 

        <div id="home_rice">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Rice_Owls_logo.svg/1200px-Rice_Owls_logo.svg.png" id="rice_logo">
        </div>

          <div id="add_course_form">
            <div id="x_btn_cont">
              <img src="https://visualpharm.com/assets/860/Close%20Window-595b40b75ba036ed117d9309.svg" id="x_btn_img" onclick="closeCourseForm()">
            </div>
            <form id="formiple" action="/add_course" enctype="multipart/form-data" method="POST">
              <div style="grid-column: span 2;">
                <label for="course_name" style="display: block;">Course Name</label>
                <input name="course_name" style="display: block; margin: auto; margin-top: 10px; margin-bottom: 10px; width: 85%;font-family: 'SF Pro Display'; font-weight: normal; font-size: 16px;" type="text">
              </div>
              <div style="grid-column: span 1">
                <label for="syllabus">Syllabus</label>
                <input name="syllabus" style="display: block; margin: 10px;" type="file">
              </div>
              <div style="grid-column: span 1">
                <label for="professor">Professor</label>
                <input name="professor" style="display: block; margin: auto; margin-top: 10px; margin-bottom: 10px;font-family: 'SF Pro Display'; font-weight: normal; font-size: 16px;" type="text">
              </div>
              <input type="submit" value="Submit" style="grid-column: span 2; margin: 10px; font-family: 'SF Pro Display'; font-weight: bold; font-size: 18px; padding: 5px; color: white; background-color: var(--rice-blue);"/>
            </form>
          </div>
          
          <!-- Tab content -->
          <div id="London" class="tabcontent">
            <div class="inner_tab">
              <button class="inner_tablinks" onclick="openInnerCity(event, 'Class1')">Readings</button>
              <button class="inner_tablinks" onclick="openInnerCity(event, 'Class1')">Problem Sets</button>
              <button class="inner_tablinks" onclick="openInnerCity(event, 'Class1')">Projects</button>
              <button class="inner_tablinks" onclick="openInnerCity(event, 'Class1')">Essays</button>
              <button class="inner_tablinks" onclick="openInnerCity(event, 'Class1')">Other</button>
              <button id="add_course" onclick="deleteCourse()">Remove Course</button>
            </div>
            <div id='Class1' class="inner_content">
            <h3>London</h3>
            <p>London is the capital city of England.</p>
            </div>
          </div>
          
          <div id="Paris" class="tabcontent">
            <h3>Paris</h3>
            <p>Paris is the capital of France.</p>
          </div>
          
          <div id="Tokyo" class="tabcontent">
            <h3>Tokyo</h3>
            <p>Tokyo is the capital of Japan.</p>
          </div>
        <script src="planner.js"></script>
    </body>
</html>